button {
    min-width: 48px;
    min-height: 48px;
    margin: 3px;
    font-family: "Comic Sans MS";
}

body {
    background-color: #1d2124;
}

input {
    background-color: #7f8fa6;
    margin: 3px;
    font-family: "Comic Sans MS";
    width: 210px;
    text-align: right;
    font-size: large;
    font-weight: 900;
}